{#
/**
 * Website Toolbox Forum plugin for Craft CMS 3.x
 * Website Toolbox Forum Settings.twig
 * @author    Website Toolbox
 * @copyright Copyright (c) 2020 Website Toolbox
 * @link      https://websitetoolbox.com/
 * @package   Website Toolbox Forum
 * @since     3.0.0
 */
#}
{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle("websitetoolbox\\websitetoolboxforum\\assetbundles\\websitetoolboxforum\\websitetoolboxforumAsset") %}
{% macro configWarning(setting, file="websitetoolboxforum") -%}
    {%- set configArray = craft.app.config.getConfigFromFile(file) -%}
    {%- if configArray[setting] is defined -%}
        {{- "This is being overridden by the `#{setting}` setting in the `config/#{file}.php` file."|t("websitetoolboxforum")|raw }}
    {%- else -%}
        {{ false }}
    {%- endif -%}
{%- endmacro %}
<div> <h2>Forums by Website Toolbox</h2><br><b>Please log in to your Website Toolbox account.</b><p>Not a Website Toolbox Forum owner? <a href="https://www.websitetoolbox.com/craftCMS" target="_blank">Create a Forum Now!</a></p><p>Please <a href="https://www.websitetoolbox.com/contact?subject=CraftCMS+Plugin+Setup+Help" target="_blank">Contact Customer Support</a> if you need help getting set up.</p><div>
 {% from _self import configWarning %}  
    {{ forms.textField({
        "label": "Website Toolbox Username"|t("websitetoolboxforum"),
        "id": "forumUsername",
        "name": "forumUsername",
        "value": settings.forumUsername,
        "required": true
       }) 
    }}   
    {{ forms.passwordField({
        "label": "Website Toolbox Password"|t("websitetoolboxforum"),
        "id": "forumPassword",
        "name": "forumPassword",
        "value": settings.forumPassword,
        "required": true
        }) 
    }}
    {{ forms.checkboxField({
            label: "Embedded"|t('app'),
            id: 'forumEmbedded',
            name: 'forumEmbedded',
            checked: settings.forumEmbedded,

        }) 
    }}
 <div>Enable this option to have your forum embedded in a page of your website.Disable this option to have your forum load in a full-sized window. You can use the Layout section in your Website Toolbox account to <a href="https://www.websitetoolbox.com/support/making-your-forum-layout-match-your-website-148" target="_blank">customize your forum layout to match your website</a> or <a href="https://www.websitetoolbox.com/contact?subject=Customize+Forum+Layout" target="_blank">contact Website Toolbox support to customize it for you</a><br /><br /><b>You can change website page url settings <a href="?page=2">here</a>:</b></div>
