{#
/**
 * Website Toolbox Forum plugin for Craft CMS 4.x
 * Website Toolbox Forum Settings.twig
 * @author    Website Toolbox
 * @copyright Copyright (c) 2020 Website Toolbox
 * @link      https://websitetoolbox.com/
 * @package   Website Toolbox Forum
 * @since     4.0.0
 */
#}
{% import "_includes/forms" as forms %}
{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}
{% set baseUrl = craft.app.sites.primarySite.baseUrl %}
<script type="text/javascript">
    var wtbx = {};
    var baseUrl = "{{ baseUrl }}"; 
</script>
<table class='wt_setting_table'>
    {% if (craft.app.getPlugins.getStoredPluginInfo('websitetoolboxforum') ["settings"]["forumUsername"] is  not defined) or (craft.app.request.getParam('communitySettingOption') == 1)  %}     
        <tr>
            <td>                
                <b>Please log in to your Website Toolbox account.</b>
                <p>Not a Website Toolbox Community owner?  
                    <a href="https://www.websitetoolbox.com/tool/members/signup?tool=mb" target="_blank">Create a Community Now!</a>
                </p>
                <p>Please <a href="https://www.websitetoolbox.com/contact?subject=CraftCMS+Plugin+Setup+Help" target="_blank">Contact Customer Support</a> if you need help getting set up. 
                </p>
                {{ _self.errorList(settings.getErrors('communityUrl')) }}
            </td>
        </tr>
        <tr>
            <td class='pt_20' colspan='2' >
                {{ forms.textField({
                    "label": "Website Toolbox Username"|t("websitetoolboxcommunity"),
                    "id": "forumUsername",
                    "name": "forumUsername",
                    "value": settings.forumUsername,
                    "required": true
                   })
                }}
                {{ _self.errorList(settings.getErrors('forumUsername')) }}
            </td>
        </tr>
        <tr>
            <td class='pt_20'  colspan='2'>
                {{ forms.passwordField({
                    "label": "Website Toolbox Password"|t("websitetoolboxcommunity"),
                    "id": "forumPassword",
                    "name": "forumPassword",
                    "value": settings.forumPassword,
                    "required": true
                   })
                }}
                {{ _self.errorList(settings.getErrors('forumPassword')) }}
                <span class="pull_right"><a href='https://www.websitetoolbox.com/tool/members/reset-password'>Forgot Password?</a></span>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan='2'>
                <p>Please                 
                    <a href="https://www.websitetoolbox.com/contact?subject=CraftCMS+Plugin+Setup+Help" target="_blank">Contact Customer Support</a> if you need help getting set up.</p>
                {% set url = craft.app.request.absoluteUrl %}
                {% set host = url|replace({'https://':'','http://':''})|split('/')[0]|split('.') %}

                {% if host|length > 2 %}
                    {% set websiteDomain = host[host|length - 2] ~ '.' ~ host[host|length - 1] %}
                {% else %}
                    {% set websiteDomain = host|join('.') %}
                {% endif %}

                {% set community = craft.app.getPlugins.getStoredPluginInfo('websitetoolboxforum') ["settings"]["forumUrl"] %}
                {% set cmHost = community|replace({'https://':'','http://':''})|split('/')[0]|split('.') %}

                {% if cmHost|length > 2 %}
                    {% set communityDomain = cmHost[cmHost|length - 2] ~ '.' ~ cmHost[cmHost|length - 1] %}
                {% else %}
                    {% set communityDomain = cmHost|join('.') %}
                {% endif %}
                {% if (communityDomain != websiteDomain) %} 
                    <ul id="alerts" class="wt_alert">
                        <li class="wt_li">
                            Your forum needs to <a href= "https://www.websitetoolbox.com/tool/members/domain?tool=mb" target="_blank">use a subdomain</a> for it to appear as embedded instead of full-screen in the Safari browser.
                        </li>
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class='form_label pt_20'>
                <b class="pull_right">Account</b> 
            </td>
            <td class='pt_20'>                
                {{craft.app.getPlugins.getStoredPluginInfo('websitetoolboxforum') ["settings"]["forumUsername"]}}<a href="{{ craft.app.request.absoluteUrl }}&communitySettingOption=1" class="edit_setting">Change</a>
            </td>
        </tr>
        <tr>
            <td class='form_label pt_20'><b class="pull_right">Embedded</b></td>
            <td class='pt_20'>
             {{ 
                forms.checkboxField({
                    label: "Yes"|t('app'),
                    id: 'forumEmbedded',
                    name: 'forumEmbedded',
                    checked: settings.forumEmbedded,
                    class : "embedded",
                    default:"checked"
                })
            }} 
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div>Enable this option to have your community embedded in a page of your website.        
                <br />Disable this option to have your community load in a full-sized window. You can use the Layout section in your Website Toolbox account to         
                <a href="https://www.websitetoolbox.com/support/making-your-forum-layout-match-your-website-148" target="_blank">customize your community layout to match your website</a> or         
                <a href="https://www.websitetoolbox.com/contact?subject=Customize+Forum+Layout" target="_blank">contact Website Toolbox support to customize it for you</a>            
            </div>
            </td>
        </tr>
        <tr id='cmInstruction' class='d_none'>
            <td></td>
            <td>
                <p>Copy the community url and add a link to it in the website’s navigation menu: <strong>{{settings.forumUrl}}</strong> <a href="javascript:void(0)" onClick="wtbx.setting.copyUrl(this, '{{settings.forumUrl}}')" class="copyLink">Copy URL</a></p>
            </td>
        </tr>
        <tr id='cmUrl' class='d_none'>
            <td class='form_label pt_20'><b class="pull_right valign">Embedded Page</b></td>
            <td class="pt_20">
                {% if('index.php?' in craft.app.request.absoluteUrl) %}                        
                    {% set index = 'index.php?p=' %}
                    {% set baseUrl = baseUrl ~ index %}
                {% endif %}
                
                {% if settings.communityUrl %}
                    {% set cmUrl = settings.communityUrl %}
                {% else %}
                    {% set cmUrl = 'community' %}
                {% endif %}
                
                <div class='input-communityUrl'>
                    <div class="inputUrl text" title='{{ baseUrl }}'>
                        <p>{{ baseUrl }}</p>
                    </div>
                    {{ 
                        forms.textField({
                        "id": "communityUrl",
                        "name": "communityUrl",
                        "value": cmUrl,
                        "required": true
                        })
                    }} 
                    <div class="urlCopy text">
                        <a href='javascript:void(0);' class="copyLink" onClick="wtbx.setting.copyUrl(this)">Copy URL</a>
                    </div>
                </div>                    
                {{ _self.errorList(settings.getErrors('communityUrl')) }}
                <span>Copy the address above and add a link to it in the website’s navigation menu.<a id='frmUrl' href="#" class="d_none">{{ baseUrl }}{{ settings.communityUrl }}</a></span>
            </td>
        </tr>
        {% if userGroups|length > 0 %} 
            <tr>            
                <td class='form_label pt_20'><b class="pull_right valign sso">Single Sign On</b></td>
                <td>
                    {% set select_all_user = '' %}
                    {% set select_no_users = '' %}
                    {% set select_groups = '' %}
                    {% set display_status = 'd_none' %}

                    {% if settings.ssoSetting %}
                        {% if settings.ssoSetting == 'all_users' %}                         
                            {% set select_all_user = 'checked' %}
                        {% elseif settings.ssoSetting == 'no_users' %} 
                            {% set select_no_users = 'checked' %}
                        {% elseif settings.ssoSetting == 'selected_groups' %}
                            {% set select_groups = 'checked' %}
                            {% set display_status = '' %}
                        {% endif %}
                    {% endif %}

                    <div class="btn_group" role="group">
                        <input type="radio" class="btn_check" name="sso_setting" value="all_users" id="all_users" onClick="wtbx.setting.checkAll(this);" {{ select_all_user }} />
                        <label class="sso_lable" for="all_users">All Users</label>
                        <input type="radio" class="btn_check" name="sso_setting" value="no_users" id="no_users" onClick="wtbx.setting.unCheckAll(this);" {{ select_no_users }} />
                        <label class="sso_lable" for="no_users">No Users</label>
                        <input type="radio" class="btn_check" name="sso_setting" value="selected_groups" id="selected_roles" onClick="wtbx.setting.showOptions();" {{ select_groups }} />
                        <label class="sso_lable" for="selected_roles">Selected User Groups</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div id="allOptions" class='{{ display_status }}' >
                        {% set key = 0 %}
                        <div class="input ltr">                        
                            <input type="checkbox" id="user_roles[{{ key }}]" class="group_checkbox checkbox" name="user_roles[]" value="0" onclick="wtbx.setting.checkAll(this);" {{ select_all_user }} />
                            <label for="user_roles[{{ key }}]">Select/Deselect All Groups</label>
                        </div>
                        <input type="hidden" name="hiddenUserRoles" id="hiddenUserRoles" value="{{ settings.userGroupsId }}">
                        <fieldset class="group">                            
                            <ul class="role_checkbox">
                                
                                {% for group in userGroups %}
                                    {% set key = key + 1 %}
                                    {% set isChecked = '' %} 
                                    {% if group.id in settings.userGroupsId %}
                                        {% set isChecked = 'checked' %}
                                    {% endif %}
                                                                    
                                    <li>
                                        <div class="input ltr">
                                            <input type="checkbox" id="user_roles[{{ key }}]" class="group_checkbox checkbox" name="user_roles[]" value="{{ group.id }}" {{ isChecked }}/>
                                            <label for="user_roles[{{ key }}]">{{ group.name }}</label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </fieldset>
                    </div> 
                </td>
            </tr>
        {% endif %}
    {% endif %}
    <tr>
        <td colspan='2' class='pt_20'>
            {{ 
                forms.textField({
                    "id": "baseUrl",
                    "name": "baseUrl",
                    "value": baseUrl,
                    class: "d_none"
                })
            }} 
            {{ 
                forms.textField({
                    "id": "forumApiKey",
                    "name": "forumApiKey",
                    "value": settings.forumApiKey,
                    class: "d_none"
                })
            }} 
            {{ 
                forms.textField
                ({
                    "id": "forumUrl",
                    "name": "forumUrl",
                    "value": settings.forumUrl,
                    class: "d_none"
                })
            }}
            <b>Be sure to specify your sign up, log in, and log out page addresses in the <a href="https://www.websitetoolbox.com/tool/members/mb/settings?tab=Single Sign On"> Single Sign On section </a>of Website Toolbox.</b>
        </td>
    </tr>
</table>