{#
/**
 * Website Toolbox Forum plugin for Craft CMS 4.x
 * Website Toolbox Forum Settings.twig
 * @author    Website Toolbox
 * @copyright Copyright (c) 2020 Website Toolbox
 * @link      https://websitetoolbox.com/
 * @package   Website Toolbox Forum
 * @since     4.0.0
 */
#}
{% import "_includes/forms" as forms %}
{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}
{% set baseUrl = craft.app.sites.primarySite.baseUrl %}
<table style='width:100%;'>
    {% if (craft.app.getPlugins.getStoredPluginInfo('websitetoolboxforum') ["settings"]["forumUsername"] is  not defined) or (craft.app.request.getParam('forumSettingOption') == 1)  %}     
        <tr>
            <td>
                <b>Please log in to your Website Toolbox account.</b>
                <p>Not a Website Toolbox Forum owner?  
                    <a href="https://www.websitetoolbox.com/craftCMS" target="_blank" style="text-decoration:underline">Create a Forum Now!</a>
                </p>
                <p>Please <a href="https://www.websitetoolbox.com/contact?subject=CraftCMS+Plugin+Setup+Help" style="text-decoration:underline" target="_blank">Contact Customer Support</a> if you need help getting set up. 
                </p>
                {{ _self.errorList(settings.getErrors('communityUrl')) }}
            </td>
        </tr>
        <tr>
            <td class='pt_20' colspan='2' >
                {{ forms.textField({
                    "label": "Website Toolbox Username"|t("websitetoolboxforum"),
                    "id": "forumUsername",
                    "name": "forumUsername",
                    "value": settings.forumUsername,
                    "required": true
                   })
                }}
            </td>
        </tr>
        <tr>
            <td class='pt_20'  colspan='2'>
                {{ forms.passwordField({
                    "label": "Website Toolbox Password"|t("websitetoolboxforum"),
                    "id": "forumPassword",
                    "name": "forumPassword",
                    "value": settings.forumPassword,
                    "required": true
                   })
                }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan='2'>
                <p>Please                 
                    <a href="https://www.websitetoolbox.com/contact?subject=CraftCMS+Plugin+Setup+Help" style="text-decoration:underline" target="_blank">Contact Customer Support</a> if you need help getting set up.</p>
            </td>
        </tr>
        <tr>
            <td style='width:20%;' class='pt_20'>
                <b>Website Toolbox Username :</b> 
            </td>
            <td class='pt_20'>
                {{craft.app.getPlugins.getStoredPluginInfo('websitetoolboxforum') ["settings"]["forumUsername"]}}&nbsp;&nbsp;<a href="?p=admin/settings/plugins/websitetoolboxforum&forumSettingOption=1" style="text-decoration:underline">Change</a>
            </td>
        </tr>
        <tr>
            <td style='width:20%;'  class='pt_20'><b>Embed the forum :</b></td>
            <td class='pt_20'>
             {{ 
                forms.checkboxField({
                    label: "Yes"|t('app'),
                    id: 'forumEmbedded',
                    name: 'forumEmbedded',
                    checked: settings.forumEmbedded,
                    class : "embedded",
                    default:"checked"
                })
            }} 
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div>Enable this option to have your forum embedded in a page of your website.        
                <br />Disable this option to have your forum load in a full-sized window. You can use the Layout section in your Website Toolbox account to         
                <a href="https://www.websitetoolbox.com/support/making-your-forum-layout-match-your-website-148" target="_blank" style="text-decoration:underline">customize your forum layout to match your website</a> or         
                <a href="https://www.websitetoolbox.com/contact?subject=Customize+Forum+Layout" style="text-decoration:underline" target="_blank">contact Website Toolbox support to customize it for you</a>            
            </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table id='cmUrl' style="width:100%">
                    <tr >
                        <td style='width:20%;' class='pt_20'><b>Embed Page :</b></td>
                        <td class='pt_20'>                            
                            {% if('index.php?' in craft.app.request.absoluteUrl) %}                        
                                {% set index = 'index.php?p=' %}
                                {% set baseUrl = baseUrl ~ index %}
                            {% endif %}                    
                            {% if settings.communityUrl %}
                                {% set cmUrl = settings.communityUrl %}
                            {% else %}
                                {% set cmUrl = 'forum' %}
                            {% endif %}
                            <div class='input-communityUrl'>
                                <div class="inputUrl text" title='{{ baseUrl }}'>
                                    <p>{{ baseUrl }}</p>
                                </div>
                                {{ 
                                    forms.textField({                
                                    "id": "communityUrl",
                                    "name": "communityUrl",
                                    "value": cmUrl,
                                    "required": true               
                                    })
                                }} 
                                <div class="urlCopy text">
                                    <a href='javascript:void(0);' onClick="copyUrl()">Copy URL</a>
                                </div>
                            </div>                    
                            {{ _self.errorList(settings.getErrors('communityUrl')) }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p> 
                                Copy the address above and add a link to it in the website’s navigation menu.<a id='frmUrl' href="#" class="classHide">{{ baseUrl }}{{ settings.communityUrl }}</a></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endif %}
            <tr>
            <td colspan='2' class='pt_20'>
                {{ 
                    forms.textField({
                        "id": "forumApiKey",
                        "name": "forumApiKey",
                        "value": settings.forumApiKey,
                        class: "classHide"
                    })
                }} 
                {{ 
                    forms.textField
                    ({
                        "id": "forumUrl",
                        "name": "forumUrl",
                        "value": settings.forumUrl,
                        class: "classHide"
                    })
                }}
                <b>Be sure to specify your sign up, log in, and log out page addresses in the <a href="https://www.websitetoolbox.com/tool/members/mb/settings?tab=Single%20Sign%20On" style="text-decoration:underline"> Single Sign On section </a>of Website Toolbox.</b>
            </td>
        </tr>
</table>
<style>
.classHide{ display:none; } 
.pt_20{padding-top:20px !important;}
.input-communityUrl { width: 100%; display: flex; }
.field{ margin: 0; }
.input-communityUrl > .inputUrl{ max-width: 40%; background: #ebf2fa; border-radius: 3px 0 0 3px; border-right: none; }
.input-communityUrl > #settings-communityUrl-field { max-width:calc(60% - 80px); width:100%; }
.input-communityUrl > .inputUrl p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.input-communityUrl > .input.ltr { width: 100%; }
.input-communityUrl > #settings-communityUrl-field .input.ltr > input { width: 100%; border-radius: 0; }
.input-communityUrl > .urlCopy{width: 80px;background:#ebf2fa; border-radius:0 3px 3px 0;border-left: none;}
.input-communityUrl > .urlCopy > a{ text-decoration: none; color:#3f4d5a; }
</style>
<script type="text/javascript">
    var baseUrl = "{{ baseUrl }}";
    var checkbox  = document.getElementById('settings-forumEmbedded');
    if(!checkbox.checked){        
       document.getElementById('settings-cmUrl').style.display = 'none';       
    }
    checkbox.addEventListener('change', (event) => {
        var chk = event.target;
        if (chk.checked) {
            document.getElementById('settings-cmUrl').style.display = '';            
        } else {
            document.getElementById('settings-cmUrl').style.display = 'none';            
        }
    });

    var cmurl  = document.getElementById('settings-communityUrl');
    cmurl.addEventListener('keyup', (event) => {
        var letter = /^[a-z\/\_]+$/;
        if(cmurl.value.match(letter) || cmurl.value == ''){
            document.getElementById('settings-frmUrl').text = baseUrl+cmurl.value
        }else{            
            cmurl.value = cmurl.value.substring(0, cmurl.value.length - 1);             
        }
    });
    function copyUrl(){
        var page = document.getElementById('settings-communityUrl').value;
        if(page !== ''){
            var copyText = document.getElementById('settings-frmUrl').text;
            navigator.clipboard.writeText(copyText);
            alert("Copied the URL: \n" + copyText);
        }else{
            alert('Error! Please enter embedded page first.');
        }     
    }
</script>